body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(173, 55, 148);
  }
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    color: white;
  }
  .container-file {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  input[type="file"]:focus {
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  button.btn {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
  
  button.btn:hover {
    background-color: #16a085;
  }
  